
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: transparent;
  position: relative;
  height: auto;
}

@keyframes expandHeight {
  0% {
    opacity: 0;
    max-height: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    max-height: 200px;
    transform: translateY(0px);
  }
}



::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #b6b6b6;
}

